@import './color.scss';
.bg-bluegrey{
 background: $bluegrey
}
.bg-bluegrey2{
    background: $bluegrey2
   }
   .bg-bluegrey3{
    background: $bluegrey3
   }
   .bg-bluegrey4{
    background: $bluegrey4
   }
   .bg-bluegrey5{
    background: $bluegrey5
   }
   .bg-bluegrey6{
    background: $bluegrey6
   }
   .bg-bluegrey7{
    background: $bluegrey7
   }
   .bg-bluegrey8{
    background: $bluegrey8
   }
   .bg-bluegrey9{
    background: $bluegrey9
   }
   .bg-bluegrey10{
    background: $bluegrey10
   }